body {
    background: linear-gradient(45deg, #b4b6ea, #a7c6c6 40%, #fefcea);
}

div#container, header, nav, section, footer {
    position: fixed;
}

div#container {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.6);
}

header {
    top: 0;
    right: 0;
    left: 0;
    height: 90px;
}

header h1 {
    font-size: 36px;
    letter-spacing: 40px;
    text-transform: uppercase;
}

header h2 {
    font-size: 16px;
    letter-spacing: 4px;
    text-transform: lowercase;
}

header div {
    position: absolute;
}

#header_1 {
    left: 30px;
    top: 10px;
}

#header_2 {
    right: calc(2 * 100% / 3 - 100px);
    top: 10px;
}

#header_3 {
    right: calc((2 * 100% / 3) / 2 - 50px);
    top: 20px;
}

#header_4 {
    right: 10px;
    top: 30px;
}

nav {
    top: 70px;
    bottom: 34px;
    left: 10px;
    width: 290px;
    overflow: auto;
}

nav a {
    display: block;
}

nav > a {
    font-size: 14pt;
    padding: 5px 5px;
    width: 240px;
}

nav > div {
    width: 250px;
}

nav > div > a {
    font-size: 12pt;
    padding: 4px 5px 4px 20px;
    width: 225px;
}

nav a:link, nav a:visited, nav a:active, nav a:hover {
    color: #680148;
    text-decoration: none;
}

nav a:active, nav a:hover, nav a.active {
    color: white;
    background-color: #680148;
    transition: color 0.5s, background-color 0.5s;
}

nav a:link, nav a:visited {
    transition: color 1s, background-color 1s;
}

/* этот кусок самодеятельность, перенести или видоизменить */
nav > div.user {
    color: #680148;
    font-size: 13pt;
    padding: 4px 5px 4px 5px;
    width: 250px;
}

/* --- */

section {
    top: 90px;
    bottom: 60px;
    left: 310px;
    right: 0;
    overflow: auto;
}

p, div, pre, li, th, td {
    font-size: 10pt;
}

h6 {
    font-size: 12pt;
}

h5 {
    font-size: 14pt;
}

h4 {
    font-size: 16pt;
}

h3 {
    font-size: 18pt;
}

h2 {
    font-size: 20pt;
}

h1 {
    font-size: 22pt;
}

a:link, a:visited {
    text-decoration: none;
}

a:active, a:hover {
    text-decoration: underline;
}

input, textarea, select {
    font-size: 10pt;
    transition: color 1s, background-color 1s, border-color 1s;
}

input:focus, textarea:focus, select:focus, input:hover, textarea:hover, select:hover {
    border-color: orange;
    transition: border-color 0.2s;
}

input[type=submit], input[type=button], input[type=reset] {
    cursor: pointer;
}

input[type=submit]:focus, input[type=button]:focus, input[type=reset]:focus,
input[type=submit]:hover, input[type=button]:hover, input[type=reset]:hover {
    color: black;
    background-color: orange;
    transition: color 0.2s, background-color 0.2s;
}

footer {
    bottom: 0;
    left: 0;
    right: 0;
    height: 60px;
    padding: 8px;
}

footer p {
    font-size: 10pt;
}

aside > a:link, aside > a:visited {
    transition: color 1s, background-color 1s;
}

aside > a:active, aside > a:hover {
    color: black;
    background-color: orange;
    transition: color 0.2s, background-color 0.2s;
}

.tab-header {
    margin-top: 20px;
    overflow: hidden;
    position: relative;
    z-index: 99;
}

.tab-header a {
    display: block;
    float: left;
    padding: 5px 8px;
    margin-right: 3px;
    border: 1px solid grey;
}

.tab-header a:link, .tab-header a:visited .tab-header a:active, .tab-header a:hover {
    text-decoration: none;
}

.tab-header a:link, .tab-header a:visited {
    color: white;
    background-color: grey;
    transition: color 1s, background-color 1s;
}

.tab-header a:active, .tab-header a:hover {
    color: black;
    background-color: orange;
}

.tab-header a.active:link, .tab-header a.active:visited, .tab-header a.active:active, .tab-header a.active:hover {
    color: black;
    background-color: transparent;
    border-bottom-color: white;
}

.tab-content {
    border: 1px solid grey;
    clear: both;
    position: relative;
    top: -1px;
}

.tab-content div.tab {
    width: calc(100% - 20pc);
    padding: 10px;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s;
}

.tab-content div.tab-visible {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s;
}

table.list {
    width: 50%;
    border-collapse: collapse;
}

table.list th, table.list tr {
    padding: 5px;
    border: 1px solid grey;
}

table.list td {
    border: 1px solid grey;
}

td.center, td.links {
    text-align: center;
}

td.links {
    width: 80px;
}

