@font-face {
    font-family: Trebuchet_MS; /* Имя шрифта */
    src: url(/inc/fonts/TREBUC.TTF); /* Путь к файлу со шрифтом */
}

h1 {
    font-family: Tahoma, Helvetica, sans-serif;
    font-size: 14pt;
    font-weight: bold;
    color: #ff9900;
    text-decoration: none;
}

h2 {
    font-family: Tahoma, Helvetica, sans-serif;
    font-size: 11pt;
    font-weight: bold;
    color: #DD7700;
    text-decoration: none;
}

h3 {
    font-family: Tahoma, Helvetica, sans-serif;
    font-size: 11pt;
    font-weight: bold;
    color: #006699;
    text-decoration: none;
}

h4 {
    font-family: Tahoma, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 11pt;
    color: #999999;
    text-decoration: none;
}

hr {
    background: #999999;
    border: 0;
    height: 2px;
}

A {
    font-family: Tahoma, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 9pt;
    color: #3399cc;
    text-decoration: underline;
}

img {
    vertical-align: middle;
}

input[type="checkbox"] {
    margin-top: 0;
    vertical-align: middle;
}

A:hover {
    font-family: Tahoma, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 9pt;
    color: #006699;
    text-decoration: none;
}

a.active {
    text-decoration: none;
    color: #666;
    font-weight: bold;
}


.like_h1 {
    font-family: Tahoma, Helvetica, sans-serif;
    font-size: 14pt;
    font-weight: bold;
    color: #ff9900;
    text-decoration: none;
}

.like_h2 {
    font-family: Tahoma, Helvetica, sans-serif;
    font-size: 12pt;
    font-weight: bold;
    color: #dd7700;
    text-decoration: none;
}

.logo {
    font-family: Tahoma, Helvetica, sans-serif;
    font-size: 9pt;
    font-weight: normal;
    color: #FFFFFF;
    text-decoration: none;
}

.top_banner {}

a.top_banner {}

a.top_banner:hover {}

A.logo {
    color: #FFFFFF;
    text-decoration: none;
}

A.logo:hover {
    color: #FFFFFF;
    text-decoration: none;
}

.content {
    font-family: Tahoma, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 9pt;
    color: #999999;
    text-decoration: none;
    border: 1px solid #BBBBBB;
    border-collapse: collapse;
}

.content th {
    font-family: Tahoma, Helvetica, sans-serif;
    font-size: 9pt;
    font-weight: bold;
    color: #666666;
    background-color: #d9d9d9;
    padding: 5px 2px 5px 2px;
    text-decoration: none;
    text-align: left;
    border: 1px solid #BBBBBB;
}

.color-1 td,
.color-1 {
    font-family: Tahoma, Helvetica, sans-serif;
    font-size: 9pt;
    font-weight: normal;
    color: #666666;
    background-color: #eaeaea;
    padding: 5px 2px 5px 2px;
    text-decoration: none;
    text-align: left;
    border: 1px solid #BBBBBB;
}

.color-2 td,
.color-2 {
    font-family: Tahoma, Helvetica, sans-serif;
    font-size: 9pt;
    font-weight: normal;
    color: #666666;
    background-color: #d9d9d9;
    padding: 5px 2px 5px 2px;
    text-decoration: none;
    text-align: left;
    border: 1px solid #BBBBBB;
}

.color-select td {
    font-family: Tahoma, Helvetica, sans-serif;
    font-size: 9pt;
    font-weight: normal;
    color: #666666;
    /*background-color: #aeb7af;*/
    background-color: #B0C4DE;
    padding: 5px 2px 5px 2px;
    text-decoration: none;
    text-align: left;
    border: 1px solid #BBBBBB;
}

.color-error td {
    font-family: Tahoma, Helvetica, sans-serif;
    font-size: 9pt;
    font-weight: normal;
    color: #666666;
    /*background-color: #aeb7af;*/
    background-color: #ef868a;
    padding: 5px 2px 5px 2px;
    text-decoration: none;
    text-align: left;
    border: 1px solid #BBBBBB;
}

.inner {
    font-family: Tahoma, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 8pt;
    color: #777777;
    text-decoration: none;
    border: 0px;
    border-collapse: collapse;
}

.inner td {
    font-family: Tahoma, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 8pt;
    color: #777777;
    text-decoration: none;
    padding: 2px;
    border: 0px;
}

.info {
    font-family: Tahoma, Helvetica, sans-serif;
    font-size: 8pt;
    font-weight: normal;
    color: #ffffcc;
    background-color: #003855;
    display: block;
    padding: 20px 20px 20px 20px;
}

.setting_table_div {
    border: #FFFFFF 3px solid;
    background-color: #999999;
    padding: 10px;
    font-family: Tahoma, Helvetica, sans-serif;
    font-size: 9pt;
    font-style: normal;
    font-weight: normal;
    color: #FFFFFF;
}

.setting_table,
.setting_table td,
.advanced_table,
.advanced_table td {
    font-family: Tahoma, Helvetica, sans-serif;
    font-size: 9pt;
    font-style: normal;
    font-weight: normal;
    color: #FFFFFF;
}

.advanced_hide_div {
    width: 100%;
    height: 100%;
    border: #FFFFFF 2px solid;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: #006699;
    padding: 0 10px;
    font-family: Tahoma, Helvetica, sans-serif;
    font-size: 9pt;
    font-style: normal;
    font-weight: normal;
    color: #fafad4;
    cursor: pointer;
}

.search_hide_div {
    width: 100%;
    height: 100%;
    border: #FFFFFF 2px solid;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: #006699;
    padding: 0 10px;
    font-family: Tahoma, Helvetica, sans-serif;
    font-size: 9pt;
    font-style: normal;
    font-weight: normal;
    color: #fafad4;
    cursor: pointer;
}

.advanced_show_div,
.search_show_div {
    border: #FFFFFF 2px solid;
    border-radius: 5px;
    background-color: #006699;
    padding: 0 10px;
    font-family: Tahoma, Helvetica, sans-serif;
    font-size: 9pt;
    font-style: normal;
    font-weight: normal;
    color: #fafad4;
    cursor: pointer;
}

.advanced_body_div {
    width: 100%;
    height: 100%;
    border: #FFFFFF 2px solid;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #999999;
    padding: 0;
    font-family: Tahoma, Helvetica, sans-serif;
    font-size: 9pt;
    font-style: normal;
    font-weight: normal;
    color: #FFFFFF;
}

.search_body_div {
    width: 100%;
    height: 100%;
    border: #FFFFFF 2px solid;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #999999;
    padding: 0 0 0 0;
    font-family: Tahoma, Helvetica, sans-serif;
    font-size: 9pt;
    font-style: normal;
    font-weight: normal;
    color: #FFFFFF;
}

.shadow_div {
    position: fixed;
    top: 0px;
    left: 0px;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    background: #999999;
    opacity: 0.5;
}

.alert_div {
    position: fixed;
    top: 30%;
    left: 40%;
    height: 20%;
    border: #FFFFFF 3px solid;
    background-color: #999999;
    padding: 10px 10px 10px 10px;
    font-family: Tahoma, Helvetica, sans-serif;
    font-size: 9pt;
    font-style: normal;
    font-weight: normal;
    color: #FFFFFF;
}

.alert_table,
.alert_table td {
    font-family: Tahoma, Helvetica, sans-serif;
    font-size: 9pt;
    font-style: normal;
    font-weight: normal;
    color: #FFFFFF;
}


/* ============ MENU ============= */

.menu_item_div_on {
    background-color: #D9D9D9;
    padding: 3px 10px 3px 10px;
    font-family: Tahoma, Helvetica, sans-serif;
    font-size: 8pt;
    font-weight: normal;
    color: #3399CC;
    text-decoration: none;
    text-shadow: 1px 1px 2px #BBBBBB;
    text-transform: uppercase;
}

.menu_item_div_off {
    background-color: #EAEAEA;
    padding: 3px 10px 3px 10px;
    font-family: Tahoma, Helvetica, sans-serif;
    font-size: 8pt;
    font-weight: normal;
    color: #999999;
    text-decoration: none;
    text-shadow: 1px 1px 2px #BBBBBB;
    text-transform: uppercase;
}

.menu_item_on,
A.menu_item_on {
    font-family: Tahoma, Helvetica, sans-serif;
    font-size: 8pt;
    font-weight: normal;
    color: #3399CC;
    text-decoration: none;
    text-shadow: 1px 1px 2px #BBBBBB;
    text-transform: uppercase;
}

.menu_item_off,
A.menu_item_off {
    font-family: Tahoma, Helvetica, sans-serif;
    font-size: 8pt;
    font-weight: normal;
    color: #999999;
    text-decoration: none;
    text-shadow: 1px 1px 2px #BBBBBB;
    text-transform: uppercase;
}

A.menu_item_link {
    font-family: Tahoma, Helvetica, sans-serif;
    font-size: 8pt;
    font-weight: normal;
    color: #999999;
    text-decoration: none;
    text-shadow: 1px 1px 2px #BBBBBB;
    text-transform: uppercase;
}

A.menu_item_link:hover,
A.menu_item_off:hover {
    font-family: Tahoma, Helvetica, sans-serif;
    font-size: 8pt;
    font-weight: normal;
    color: #3399CC;
    text-decoration: none;
    text-shadow: 1px 1px 2px #BBBBBB;
    text-transform: uppercase;
}

A.menu_subitem_link,
.menu_subitem_off {
    font-family: Tahoma, Helvetica, sans-serif;
    font-size: 9pt;
    line-height: 20pt;
    font-weight: normal;
    color: #999999;
    text-decoration: none;
}

A.menu_subitem_link:hover {
    font-family: Tahoma, Helvetica, sans-serif;
    font-size: 9pt;
    line-height: 20pt;
    font-weight: normal;
    color: #3399CC;
    text-decoration: none;
}

.menu_subitem_block {
    background-color: #EAEAEA;
    border: #D9D9D9 1px solid;
}

.menu_subitem_unit_on {
    background-color: #D9D9D9;
    padding: 2px 10px 2px 10px;
}

.menu_subitem_unit_off {
    background-color: #EAEAEA;
    padding: 2px 10px 2px 10px;
}

.menu_subitem_div {
    background-color: #EAEAEA;
    border: #D9D9D9 1px solid;
}


/* =========== END MENU ========== */

.tab_div {}

.tab_header_inactive {
    font-family: Tahoma, Helvetica, sans-serif;
    font-size: 8pt;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px #BBBBBB;
    background-color: #D9D9D9;
    color: #3399CC;
    border: solid 1px #FFFFFF;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 3px 10px 0px 10px;
    margin: 0px 2px 0px 2px;
}

.tab_header_active {
    font-family: Tahoma, Helvetica, sans-serif;
    font-size: 8pt;
    text-transform: uppercase;
    color: #fafad4;
    background-color: #006699;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 7px 10px 0px 10px;
    margin: 0px 2px 0px 2px;
}

.hello {
    font-family: Tahoma, Helvetica, sans-serif;
    font-size: 9pt;
    font-weight: normal;
    color: #006699;
    text-decoration: none;
}

A.exit,
.exit {
    font-family: Tahoma, Helvetica, sans-serif;
    font-size: 8pt;
    font-weight: normal;
    color: #fafad4;
    text-decoration: none;
}

A.exit:hover {
    font-family: Tahoma, Helvetica, sans-serif;
    font-size: 8pt;
    font-weight: normal;
    color: #fafad4;
    text-decoration: underline;
}

.header {
    font-family: Tahoma, Helvetica, sans-serif;
    font-size: 7pt;
    font-weight: normal;
    color: #fafad4;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0px 10px 0px 10px;
}

.version {
    font-family: Tahoma, Helvetica, sans-serif;
    font-size: 7pt;
    font-weight: normal;
    color: #fafad4;
    text-decoration: none;
}

A.version {
    font-family: Tahoma, Helvetica, sans-serif;
    font-size: 7pt;
    font-weight: normal;
    color: #3399cc;
    text-decoration: underline;
}

A.version:hover {
    font-family: Tahoma, Helvetica, sans-serif;
    font-size: 7pt;
    font-weight: normal;
    color: #006699;
    text-decoration: none;
}

.is_on {
    color: #3CB371;
}

.is_off {
    color: #999999;
}

.is_notice {
    color: #DC143C;
}

.is_required {
    color: #CC3333;
    font-size: 12pt;
}

.sc_info_div {
    font-family: Tahoma, Helvetica, sans-serif;
    font-size: 9pt;
    font-weight: normal;
    color: #666666;
    border: 2px solid #FFFFFF;
    border-radius: 10px;
    background-color: #DADADA;
    padding: 5px;
    margin: 7px 7px;
    /*box-shadow: 0px 7px 7px #999;*/
}

.sc_abonent_div {
    padding: 1px;
    margin: 2px;
    float: left;
    width: 135px;
    height: 60px;
    border: 2px solid #FFFFFF;
    border-radius: 10px;
    box-shadow: 0 5px 4px #999;
    background: rgb(240,240,240);
    /*background: linear-gradient(0deg, rgb(240,240,240) 0%, rgb(255,255,255) 50%, rgb(240,240,240) 100%);*/
}

.sc_abonent_div.mic_on {
    background: rgb(14,158,62);
    /*background: linear-gradient(0deg, rgb(15,168,45) 0%, rgb(14,38,16) 50%, rgb(15,209,54) 100%);*/
}

.sc_abonent_div.mic_off {
    background: rgb(0,99,191);
    /*background: linear-gradient(0deg, rgb(82,238,255) 0%, rgb(0,99,191) 50%, rgb(48,180,228) 100%);*/
}

.sc_abonent_div.mic_req {
    background: rgb(225,31,33);
    /*background: linear-gradient(0deg, rgb(225,31,33) 0%, rgb(133,23,21) 50%, rgb(255,33,37) 100%);*/
}

.sc_abonent_div.no_more_retries {
    opacity: 0.7;
    box-shadow: none;
}

.sc_abonent_slider_div {
    border: 2px solid #FFFFFF;
}

.sc_abonent_font {
    font-family: Trebuchet_MS, serif;
    font-size: 8pt;
    font-weight: bold;
}

.mic_on .sc_abonent_font {
    color: white;
}

.mic_off .sc_abonent_font {
    color: white;
}

.mic_req .sc_abonent_font {
    color: white;
}

.sc_tool_div {
    padding: 2px 2px 2px 2px;
    margin: 5px;
    float: left;
    width: 200px;
    height: 100px;
    border: 2px solid #DADADA;
    border-radius: 10px;
    background-color: #DADADA;
}

.abonent_status_div {
    padding: 1px;
    margin: 2px;
    float: left;
    width: 135px;
    height: 60px;
    border: 2px solid #FFFFFF;
    border-radius: 10px;
}

.abonent_font {
    font-family: monospace;
    font-size: 8pt;
    font-weight: bold;
}

.for_save {
    color: #fafad4;
    background-color: #006699;
    border-radius: 5px;
}

.help_div {
    font-family: Tahoma, Helvetica, sans-serif;
    font-size: 9pt;
    font-weight: normal;
    color: #666666;
}

.info_div {
    font-family: Tahoma, Helvetica, sans-serif;
    font-size: 9pt;
    font-weight: normal;
    color: #666666;
    border-radius: 10px 0px 0px 10px;
    background-color: #DADADA;
    margin: 0 0 0 20px;
}

div.notice_div {
    margin: -6px 4px 4px;
}

div.notice_div p {
    padding: 4px;
    text-align: left;
    border: 2px solid #555;
    font-size: 0.8em;
    color: #555;
    border-color: #808080;
    background-color: #DCDCDC;
}

div.notice_div p.warning {
    border-color: #FF8C00;
    background-color: #FAF0E6;
}

div.notice_div p.error,
div.notice_div p.alarm {
    border-color: red;
    background-color: #FFE4E1;
    /*background: #FFE4E1 url("img/notice.gif") no-repeat 2px 2px;*/
    /*text-indent: 16px;*/
}

div.notice_div p.success,
div.notice_div p.info,
div.notice_div p.master {
    border-color: #228B22;
    background-color: #F0FFF0;
}

div.notice_div p.slave {
    border-color: yellow;
    background-color: #FAF0E6;
}

div.notice_div p.look_to_slave {
    border-color: darkviolet;
    background-color: #FAF0E6;
}

.info_unit {
    padding: 5px;
    margin: 0 0 0 0;
}

.page_number {
    color: #fafad4;
    background-color: #006699;
    border-radius: 5px;
    padding: 0 5px 0 5px;
}

table,
td,
p {
    font-family: Tahoma, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 9pt;
    color: #666666;
    text-decoration: none;
}


/* ==== Прогресс бар === */

.progress {
    font-size: 13px;
    margin: 0;
    vertical-align: middle;
    background-color: #F7F7F7;
    background-image: -moz-linear-gradient(center top, #F5F5F5, #F9F9F9);
    background-repeat: repeat-x;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
    height: 28px;
    width: 98%;
    overflow: hidden;
    display: inline-block;
}

.progress .bar,
.status-ok {
    background-color: #0E90D2;
    background-color: #4576A4;
    background-color: #66acd1;
    /* Old browsers */
    background: -moz-linear-gradient(top, #66acd1 0%, #32678D 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #66acd1), color-stop(100%, #32678D));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #66acd1 0%, #32678D 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #66acd1 0%, #32678D 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #66acd1 0%, #32678D 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #66acd1 0%, #32678D 100%);
    /* W3C */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#66acd1', endColorstr='#32678D', GradientType=0);
    /* IE6-9 */
}

.progress-dark,
.status-no {
    background: #b9b9b9;
    /* Old browsers */
    background: -moz-linear-gradient(top, #b9b9b9 0%, #9b9b9b 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #b9b9b9), color-stop(100%, #9b9b9b));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #b9b9b9 0%, #9b9b9b 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #b9b9b9 0%, #9b9b9b 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #b9b9b9 0%, #9b9b9b 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #b9b9b9 0%, #9b9b9b 100%);
    /* W3C */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#b9b9b9', endColorstr='#9b9b9b', GradientType=0);
    /* IE6-9 */
}

.progress-dark,
.status-er {
    background: #ef868a;
    /* Old browsers */
    background: -moz-linear-gradient(top, #ef868a 0%, #863134 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ef868a), color-stop(100%, #863134));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ef868a 0%, #863134 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ef868a 0%, #863134 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ef868a 0%, #863134 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #ef868a 0%, #863134 100%);
    /* W3C */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ef868a', endColorstr='#863134', GradientType=0);
    /* IE6-9 */
}

.progress .bar {
    -moz-box-sizing: border-box;
    -moz-transition: width 0.6s ease 0s;
    background-repeat: repeat-x;
    color: #FFFFFF;
    float: left;
    font-size: 12px;
    height: 100%;
    text-align: right;
    padding: 5px 8px;
    font-size: 13px;
    text-shadow: 1px 1px #333;
    white-space: nowrap;
}

.progress-dark {
    height: 24px;
}

.progress-dark .bar {
    padding: 4px 0;
    -moz-transition: width 0.6s ease 0s;
}

.progress .bar span {
    padding-left: 4px;
}

.status-ok,
.status-no,
.status-er {
    float: right;
    width: 100px;
    margin: 0 5px;
    color: white;
    padding: 2px 3px 1px 3px;
    font-size: 13px;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
    -moz-box-sizing: border-box;
    -moz-transition: width 0.6s ease 0s;
    background-repeat: repeat-x;
    text-shadow: 1px 1px #333;
    height: 24px;
    text-align: center;
}

td.ch-abonent- {
    color: #999;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
}

td.ch-abonent-checked {
    color: black;
}

td.comment-abonent- {
    color: #069;
    font-weight: bold;
}

td.comment-abonent-checked {
    color: #aaa;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
}

.co-abonent-off {
    color: #999;
    font-weight: normal;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
}

.co-abonents-list {
    color: black;
    font-weight: normal;
}

.toolbar-bottom {
    color: #777;
    background-color: #d9d9d9;
    padding: 7px;
}

#call_list_error,
.search_error {
    font-size: 1.15em;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.15);
    background-color: lightpink;
    border: 2px solid darkred;
    border-radius: 4px;
    padding: 5px;
}

.toolbar-phone-edit {
    padding: 7px 0 0;
}

.phone-edit-chancel {
    vertical-align: super;
    padding: 5px;
}

.phone-edit-save {}

.phone-edit-del {
    float: right;
    margin-right: 3px;
}

.table-reset {
    border-collapse: collapse;
    border: none;
}

.w100 {
    width: 100%;
}

.h100 {
    height: 100%;
}

.abonent-search-table td {
    color: #555;
    padding: 5px;
}

.abonent-search-table th {
    color: #f0f0f0;
    text-align: left;
    padding: 5px;
}

#input_search_abonent {
    margin-left: 0;
}

.sip-on {
    color: #333;
}

.sip-off {
    color: #999;
    font-weight: normal;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
}

.search-records {
    padding: 3px 5px;
}

.pagination {
    padding: 5px;
    color: #555;
}

.pagination a {
    padding: 5px;
    cursor: pointer;
}

.pagination-info {
    padding: 0 9px 0 0;
    color: #fff;
}

.pagination .page_number {
    padding: 0px 9px;
}

a.icon {
    font-size: 13px;
    padding: 0px 9px;
    text-decoration: none;
    cursor: pointer;
    margin-right: 5px;
}

a.icon:focus {
    outline: none;
}

a.up {
    background: url("img/up.gif") left bottom no-repeat;
}

.div-message {
    display: none;
    position: fixed;
    top: 15px;
    right: 18px;
    border: 2px solid #069;
    border-radius: 5px;
    background-color: #FEFEE7;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
    padding: 22px;
    z-index: 9999;
}

.b-success {
    color: #3C763D;
    border-color: #CAD8BE;
    background-color: #EEFFE9;
}

.b-error {
    color: #A94442;
    border-color: #EFC5CB;
    background-color: #FFEEE9;
}

.b-info {
    color: #31708F;
    background-color: #F7FCFF;
    border-color: #ABC4C9;
}

.close:focus,
.close:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    opacity: 0.5;
}

button.close {
    padding: 0px;
    cursor: pointer;
    background: none repeat scroll 0px 0px transparent;
    border: 0px none;
    margin: -20px -20px 0 0;
}

.close {
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0px 1px 0px #FFF;
    opacity: 0.2;
}

.stat-control-bar {
    float: right;
    margin: 0 15px;
}

.stat-control-bar a.current {
    text-decoration: none;
    color: #999;
}


/*============ АОН ==============*/

.max-width {
    max-width: 500px;
}


/*============ мониторинг sip/trunk ==============*/

.mon-section,
.mon-section-side {
    float: left;
    padding: 3px;
    padding-bottom: 1px;
    border: 1px solid #ccc;
    background-color: #fff;
    margin: 2px;
    width: 220px;
    border-radius: 4px;
}

.mon-section ul,
.mon-section-side ul {
    list-style: none;
    padding: 0;
    margin: 0;
    line-height: 14px;
}

.mon-section ul li,
.mon-section-side ul li {
    overflow: hidden;
    white-space: nowrap;
}

.mon-section-side {
    width: auto;
    min-width: 430px;
}

.div-l {
    float: left;
    width: 205px;
    margin-right: 20px;
    margin-bottom: 1px;
}

.div-r {
    float: right;
    width: 205px;
    margin-bottom: 1px;
}

ul.mon-header {
    padding-left: 36px;
}

ul.mon-header-trunk {
    padding-left: 0px;
}

ul.mon-extend {
    background-color: #F5F5F5;
    padding: 2px;
    margin-top: 2px;
}

ul.mon-header li,
ul.mon-header-trunk li,
ul.mon-extend li {}

li.mon-phone {
    font-size: 12px;
    font-weight: bold;
}

li.mon-phone span,
li.mon-user span {
    float: left;
    width: 150px;
    text-overflow: ellipsis;
    overflow: hidden;
}

li.mon-user {
    font-size: 12px;
}

li.mon-content {
    font-size: 11px;
    height: 15px;
}

li.mon-footer {
    font-size: 10px;
    color: #777;
}

li.mon-footer span {
    float: left;
    width: 100px;
}

li.mon-footer b {
    float: right;
    font-weight: normal;
}

li.mon-footer i {
    float: right;
}

.time_elapsed {
    color: #090;
    font-size: 11px;
}

li.mon-br {
    font-size: 2px;
    border-bottom: 1px dotted #dedede;
    margin: 2px 0;
}

.icon-nofoto {
    background: url('img/no_photo_32.png') top left / 32px auto no-repeat;
}

.icon-gs {
    background: url('img/icon_gs.png') top left / 32px auto no-repeat;
}

.icon-gc {
    background: url('img/icon_gc.png') top left / 32px auto no-repeat;
}

.icon-sc {
    background: url('img/icon_sc.png') top left / 32px auto no-repeat;
}

.icon-conf {
    background: url('img/icon_conf.png') top left / 32px auto no-repeat;
}

.icon-s3 {
    background: url('img/icon_s3.png') top left / 32px auto no-repeat;
}

.icon-cc {
    background: url('img/icon_cc.png') top left / 32px auto no-repeat;
}

.icon-service {
    background: url('img/icon_service.png') top left / 32px auto no-repeat;
}

i.mon-icon-status {
    width: 16px;
    height: 16px;
    float: right;
    background: url('img/icon_status_grey.png') top left / 16px 16px no-repeat;
}

i.mon-icon-None {
    background: none;
}

i.mon-icon-Unavailable {
    background: url('img/icon_status_grey.png') top left / 16px 16px no-repeat;
}

i.mon-icon-Down {
    background: url('img/icon_status_red.png') top left / 16px 16px no-repeat;
}

i.mon-icon-Ring {
    background: url('img/icon_status_orange.png') top left / 16px 16px no-repeat;
}

i.mon-icon-Ringing {
    background: url('img/icon_status_ring.png') top left / 16px 16px no-repeat;
}

i.mon-icon-InUse {
    background: url('img/icon_status_green_light.png') top left / 16px 16px no-repeat;
}

i.mon-icon-Idle {
    background: url('img/icon_status_green.png') top left / 16px 16px no-repeat;
}

i.mon-icon-Hold {
    background: url('img/icon_status_yellow.png') top left / 16px 16px no-repeat;
}

i.mon-icon-Connected{
    background: url('img/icon_status_blue.png') top left / 16px 16px no-repeat;
}

i.mon-icon-mic-on {
    background: url('img/icon_mic_on.gif') top left / 16px 16px no-repeat;
}

i.mon-icon-mic-off {
    background: url('img/icon_mic_off.gif') top left / 16px 16px no-repeat;
}

i.mon-icon-admin {
    background: url('img/icon_admin.gif') top left / 16px 16px no-repeat;
}

i.mon-icon-not-admin {
    background: url('img/icon_notadmin.png') top left / 16px 16px no-repeat;
}

section.channel-InUse {
    background: url('img/icon_arrow_lr.png'), linear-gradient(rgb(255, 255, 255), rgb(234, 234, 234));
    background-repeat: no-repeat;
    background-position: center;
    /*
	background: #FFFFFF url('img/icon_arrow_lr.png') 50% 18px / 17px 17px no-repeat;
	background: #ffffff;
	background: -moz-linear-gradient(top, #ffffff 19%, #f2f2f2 100%);
	background: -webkit-linear-gradient(top, #ffffff 19%,#f2f2f2 100%);
	background: linear-gradient(to bottom, #ffffff 19%,#f2f2f2 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f2f2f2',GradientType=0 );
	*/
}

section.status-Unavailable {
    border-color: #FFFFFF;
    background-color: #E5E5E5;
}

section.status-Down {
    border-color: red;
    background-color: #FFEFEF;
    background: #ffefef;
    background: -moz-linear-gradient(top, #ffefef 0%, #ffdddd 100%);
    background: -webkit-linear-gradient(top, #ffefef 0%, #ffdddd 100%);
    background: linear-gradient(to bottom, #ffefef 0%, #ffdddd 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffefef', endColorstr='#ffdddd', GradientType=0);
}

section.status-Idle {
    border-color: #CCCCCC;
    background-color: #FFF;
    background: #effaff;
    background: -moz-linear-gradient(top, #ffffff 0%, #effaff 100%);
    background: -webkit-linear-gradient(top, #ffffff 0%, #effaff 100%);
    background: linear-gradient(to bottom, #ffffff 0%, #effaff 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#effaff', GradientType=0);
}

section.status-Ring {
    border-color: orange;
    background-color: #FFF6E6;
    background: #fff6e6;
    background: -moz-linear-gradient(top, #fff6e6 0%, #ffe5bf 100%);
    background: -webkit-linear-gradient(top, #fff6e6 0%, #ffe5bf 100%);
    background: linear-gradient(to bottom, #fff6e6 0%, #ffe5bf 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#fff6e6', endColorstr='#ffe5bf', GradientType=0);
}

section.status-Ringing {
    border-color: orange;
    background-color: #FFF6E6;
    background: #fff6e6;
    background: -moz-linear-gradient(top, #fff6e6 0%, #ffe5bf 100%);
    background: -webkit-linear-gradient(top, #fff6e6 0%, #ffe5bf 100%);
    background: linear-gradient(to bottom, #fff6e6 0%, #ffe5bf 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#fff6e6', endColorstr='#ffe5bf', GradientType=0);
}

section.status-InUse {
    border-color: #090;
    background-color: #EEFFEA;
    background: #eeffea;
    background: -moz-linear-gradient(top, #eeffea 0%, #D7FDCD 100%);
    background: -webkit-linear-gradient(top, #eeffea 0%, #D7FDCD 100%);
    background: linear-gradient(to bottom, #eeffea 0%, #D7FDCD 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#eeffea', endColorstr='#D7FDCD', GradientType=0);
}

section.status-Hold {
    border-color: yellow;
    background-color: #FFFFE6;
    background: #ffffe6;
    background: -moz-linear-gradient(top, #ffffe6 0%, #ffffc1 100%);
    background: -webkit-linear-gradient(top, #ffffe6 0%, #ffffc1 100%);
    background: linear-gradient(to bottom, #ffffe6 0%, #ffffc1 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffffe6', endColorstr='#ffffc1', GradientType=0);
}

.in-search {
    margin: 2px 5px;
    width: 400px;
    border: 1px solid #DDE1E3;
    color: #999;
    padding: 2px;
}


/*========= LOG ==============*/

.brown {
    color: brown;
}

.cyan {
    color: cyan;
}

.black {
    color: black;
}

.red {
    color: red;
}

.orange {
    color: orange;
}

.green {
    color: lightgreen;
}

.yellow {
    color: yellow;
}

.blue {
    color: blue;
}

.magenta {
    color: magenta;
}

.white {
    color: white;
}

.pink {
    color: hotpink;
}

.lime {
    color: lime;
}

.silver {
    color: silver;
}

.seagreen {
    color: lightseagreen;
}

.beige {
    color: beige;
}

.bold {
    font-weight: bold;
}

.underline {
    text-decoration: underline;
}

.app {
    color: cyan;
}

.appargs {
    color: magenta;
}

.context {
    color: blue;
}

#log_view.pre {
    font-family: "Courier New", Courier, monospace;
    font-size: 0.85em;
    overflow: auto;
    background-color: #0f192a;
    color: white;
    padding: 10px;
    border-radius: 10px;
    min-height: 100px;
}


/*users_access*/

.users_access {
    border-spacing: 1px;
}

.users_access td {
    padding: 3px;
}

.users_access tr:nth-child(2n) {
    background-color: #A0A0A0;
}

.users_access tr:hover {
    background-color: #B0C4DE;
}

.users_access td.ch-checked {
    background-color: rgb(244, 190, 156);
}

.stacked-bar-graph {
    height: 26px;
    color: #414042;
}

.ext4 {
    background: #F7B334;
}

.Медиасервер {
    background: #A7A9AC;
}

.ntfs {
    background: #D57E00;
}

.ext2 {
    background: #6B5B95;
}

.btrfs {
    background: #86AF49;
}

.fat32 {
    background: #ECA1A6;
}

.fleft {
    float: left !important;
}

.content th {
    padding: 5px;
}

.content td {
    padding: 5px;
}

.center {
    text-align: center !important;
}

.disk-info {
    background-color: #999;
    margin: 10px 0 15px 0;
}

.disk-info-left td,
.disk-info-right {
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
    padding: 1px 5px;
    font-size: 10pt;
}

.shadow {
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2);
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

@-webkit-keyframes twinkly {
    from {opacity: 1;}
    to {opacity: 0.5;}
}

@-moz-keyframes twinkly {
    from {opacity: 1;}
    to {opacity: 0.5;}
}

@-ms-keyframes twinkly {
    from {opacity: 1;}
    to {opacity: 0.5;}
}

@keyframes twinkly {
    from {opacity: 1;}
    to {opacity: 0.5;}
}

.twinkle {
    -webkit-animation: twinkly 0.5s alternate infinite;
    -moz-animation: twinkly 0.5s alternate infinite;
    -ms-animation: twinkly 0.5s alternate infinite;
    animation: twinkly 0.5s alternate infinite;
}